extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", type="password" required, name="oldPassword") 
        input(placeholder="New Password", type="password" required, name="newPassword") 
        input(placeholder="New Password Confirmation", type="password" required, name="confirmPassword") 
        input(type="submit", value="Change Password")