extends ../base

block content 
    h4 Update video
    form(method="POST")   
        input(name="Title", required, placeholder="Video Title", value=video.title)
        input(placeholder="Description", required, type="text", name="description", maxLength=128, value=video.description)
        input(placeholder="Hashtags", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save", type="submit")


