extends ../base
include ../mixins/video

block content 
    form(method="GET").search__form
        input(tpye="text" placeholder="Search by title" name="keyword")
        button
            i.fas.fa-search

    div.video-grid
        each item in videos 
            +video(item)
        else
            span.empty__message No videos found