* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}

.card {
  width: 0;
  height: 0;
  border-top: 100px solid #eeeeee;
  border-right: 170px solid #dddddd;
  border-bottom: 100px solid #cccccc;
  border-left: 170px solid #cccccc;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #ff3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
  }
  75% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
