.upload__container {
  width: 100%;
  .upload__video {
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    video {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
.canvas__container {
  width: 100%;
  canvas,
  img {
    width: 480px;
    height: 270px;
    display: block;
    margin: 0 auto;
  }
}
