.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    // .mark {
    //   margin-left: 5px;
    // }
    .mark:hover {
      cursor: pointer;
    }
  }
}

.video__add-comments {
  .video__comment-form {
    max-width: 600px;
    display: flex;
    padding: 15px;
    textarea {
      resize: none;
      width: 400px;
      height: 40px;
    }
    button {
      width: 140px;
      margin-left: 20px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: white;
      font-size: 16px;
      color: black;
    }
  }
}
