* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

.results {
  width: 400px;
  margin: 10vh auto;
  display: flex;
  align-items: row;
  vertical-align: center;
}

.fixed {
  width: 35%;
  height: 100%;
  background-color: aliceblue;
}

.scroll {
  width: 65%;
  height: 100%;
  background-color: beige;
  overflow: auto;
}

.fixed table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed table th,
.fixed table td {
  text-align: center;
  border: 1px solid #000;
  vertical-align: middle;
  height: 30px;
}

.fixed table th:first-child,
.fixed table td:first-child {
  width: 75%;
}

.scroll table {
  width: 540px;
  border-collapse: collapse;
}

.scroll table th {
  text-align: center;
  border: 1px solid #000;
  vertical-align: middle;
  height: 30px;
}

.scroll table td {
  text-align: right;
  padding-right: 4px;
  border: 1px solid #000;
  vertical-align: middle;
  height: 30px;
}

.buy {
  color: red;
}

.sell {
  color: dodgerblue;
}
