* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(60deg, #303030, #101010);
}

.oval {
  width: 230px;
  height: 130px;
  background-color: #fdff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 212px;
  height: 112px;
  background-color: black;
  border-radius: 50%;
}

.o1 {
  position: absolute;
  background-color: #fdff00;
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
  left: 48px;
  transform: rotate(-41deg);
}

.o2 {
  position: absolute;
  background-color: #fdff00;
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
  right: 48px;
  transform: rotate(41deg);
}

.o3 {
  position: absolute;
  background-color: #fdff00;
  width: 38px;
  height: 70px;
  border-radius: 50%;
  top: 73px;
  left: 75px;
  transform: rotate(-15deg);
}

.o4 {
  position: absolute;
  background-color: #fdff00;
  width: 38px;
  height: 70px;
  border-radius: 50%;
  top: 73px;
  right: 75px;
  transform: rotate(15deg);
}

.o5 {
  position: absolute;
  top: 0px;
  left: 57px;
  width: 37px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdff00;
}

.sq1 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 74px;
  background-color: #fdff00;
}

.o6 {
  position: absolute;
  top: 0px;
  right: 57px;
  width: 37px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdff00;
}

.sq2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 74px;
  background-color: #fdff00;
}

.ears {
  position: absolute;
  top: 6px;
  left: 94px;
  border-top: 12px solid #fdff00;
  border-left: 8px solid black;
  border-right: 8px solid black;
  width: 42px;
}
