doctype html 
html(lang = "ko")
    head 
        title #{pageTitle} | iTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            nav 
                ul 
                    li 
                        a(ref="/login") Login

            h1 #{pageTitle}
        main 
            block content
            include partials/footer