extends base

block content
    form(method="POST")
        input(placeholder="Name", name="name", type="text", required, value=user.name)
        input(placeholder="E-mail", name="email", type="email", required, value=user.email)
        input(placeholder="Username", name="username", type="text", required, value=user.username)
        input(placeholder="Location", name="location", type="text", required, value=user.location)
        input(type="submit", value="Update Profile")