extends base.pug
include mixins/video

block content
    h3 Welcome home to watch trending videos!!!
    
    div
        each item in videos 
            +video(item) 
        else 
            span.empty__message No video found