* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff09b;
}

.donut {
  position: relative;
  width: 200px;
  height: 200px;
}

.donut-body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f77778;
  border: 2px solid #003459;
  border-radius: 50%;
}

.donut-body::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #faa7a8;
  top: 3px;
  right: 3px;
  border-radius: 50%;
}

.donut-body::after {
  content: "";
  width: 30%;
  height: 30%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #003459;
  background-color: #fff09b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 32px;
  height: 16px;
  position: absolute;
  border: 3px solid #003459;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
}

.face::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #003459;
  position: absolute;
  border-radius: 50%;
  top: -150%;
  left: -20%;
}

.face::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #003459;
  position: absolute;
  border-radius: 50%;
  top: -150%;
  right: -20%;
}

.highlight {
  width: 40px;
  height: 40px;
  border: 8px solid whitesmoke;
  border-top: 0;
  border-right: 0;
  position: absolute;
  left: 25%;
  bottom: 25%;
  border-bottom-left-radius: 100%;
  opacity: 50%;
}
