header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: $red;
    font-size: 38px;
    position: relative;
    .bg {
      background-color: aliceblue;
      width: 50%;
      height: 50%;
      position: absolute;
      top: 25%;
      left: 25%;
      z-index: -1;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
      color: #f2f4f4;
    }
  }
  .header__btn {
    background-color: #f2f4f4;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
